/* Estilo base para .usuarioEdit */
.recuperarPassword {
  width: 63rem;
}

/* Media query para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .recuperarPassword {
    width: 100%;
  }
}

/* Media query para pantallas medianas (por ejemplo, tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .recuperarPassword {
    width: 50rem;
  }
}

/* Media query para pantallas grandes (por ejemplo, computadoras de escritorio) */
@media (min-width: 1025px) {
  .recuperarPassword {
    width: 63rem;
  }
}
